{% if food %}
	<section data-nav="menus" id="menus" class="hidden--mob section--menu has--nav">
		<div class="block--menu-wrap">
			<div class="gold-border">
				{% for food in food %}
					{% if loop.first %}
					<div class="block--menu">
					{# 	<h5 id="menu-{{loop.index}}" class="color--green-light">{{food.title}}<hr class="five shift color--green-light"></h5> #}
						<div class="">
						{% for item in food.menu %}
							<h4>{{item.item}}</h4>
							<h6 class="font--rn color--gold transform--no">{{item.subtitle}}</h6>
							<p class="font--thin">{{item.description}}</p>
						{% endfor %}
						</div>
					</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}