<div data-nav="hours-location" id="hours-location" class="section--home-hours margin--center icon-gold-border has--nav spacing--gutter-mob spacing--vert-1 spacing--dsk-vert-0">
	<i class="icon-deco top left" data-grunticon-embed></i>
	<i class="icon-deco top right" data-grunticon-embed></i>
	<div class="vertical--center-dsk text--center spacing--vert-2 spacing--dsk-vert-0">
		
		<div>
			<h3 class="font--sans margin--vert-1">{{home.title}}</h3>
			{% if options.prettyhours %}
				{% for hours in options.prettyhours %}
					<div class="font--largest letter--1">
						<span>{{hours.days}}</span>
						<span>{{hours.hours}}</span>
					</div>
				{% endfor %}
			{% endif %}
		</div>
		<i class="icon-divider block margin--center margin--vert-2" data-grunticon-embed></i>
		
		<div class="font--largest letter--1">
			<span>{{options.address.street}}</span><br>
			<span>{{options.address.city}}</span><br>
			<span>{{options.address.state}} {{options.address.zip}}</span>
		</div>
	</div>
	<i class="icon-deco  bottom left" data-grunticon-embed></i>
	<i class="icon-deco  bottom right" data-grunticon-embed></i>
</div>