{% if food %}
	<section data-nav="menus" id="menus" class="hidden--mob section--menu spacing--gutter spacing--dsk-horiz-5 spacing--dsk-vert-4 has--nav">
		<div class="block--menu-wrap bg--white spacing--dsk-vert-5 spacing--dsk-horiz-5 ">
			<div class="gold-border">
				{% for food in food %}
					<div class="block--menu grid--one grid--sm-two-fifths spacing--dsk-horiz-2 spacing--dsk-vert-6" >
						<h5 id="menu-{{loop.index}}" class="color--green-light">{{food.title}}<hr class="five shift color--green-light"></h5>
						<div class="spacing--vert-2">
						{% for item in food.menu %}
							<h4>{{item.item}}</h4>
							<h5 class="font--rn">{{item.subtitle}}</h5>
							<p class="font--thin">{{item.description}}</p>
						{% endfor %}
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</section>
{% endif %}